# mode: -*- gitignore -*-
*~
*.swp
.\#*
\#*\#
*.elc
.cask
.mc-lists.el
.youdao
abbrev_defs
bookmarks
elpa
emms
eshell
eww-bookmarks
games
ido.last
places
projectile-bookmarks.eld
projectile.cache
pyim
recentf
semanticdb
smex-items
srecode-map.el
tramp
undohist
